body {
    font-family: Arial;
    background: #0f172a;
    color: white;
    text-align: center;
}

.grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 15px;
    margin: 20px;
}

.card {
    background: #1e293b;
    padding: 20px;
    border-radius: 10px;
    font-size: 20px;
}

.signal {
    font-size: 30px;
    margin: 20px;
}

.emergency {
    background: red;
    padding: 15px;
    font-size: 22px;
    margin: 10px;
    border-radius: 10px;
}

.hidden {
    display: none;
}