body {
    background: #0f172a;
    color: white;
    font-family: Arial;
    margin: 0;
}

.topbar {
    display: flex;
    justify-content: space-between;
    padding: 15px;
    background: #1e293b;
}

.main-container {
    display: flex;
    padding: 20px;
}

.intersection {
    width: 60%;
    height: 400px;
    position: relative;
    background: #334155;
    border-radius: 10px;
}

.road {
    position: absolute;
}

.north { top: 10px; left: 50%; transform: translateX(-50%); }
.south { bottom: 10px; left: 50%; transform: translateX(-50%); }
.east { right: 10px; top: 50%; transform: translateY(-50%); }
.west { left: 10px; top: 50%; transform: translateY(-50%); }

.signal {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: gray;
    transition: 0.5s;
}

.green { background: #22c55e; box-shadow: 0 0 20px #22c55e; }
.red { background: #ef4444; box-shadow: 0 0 20px #ef4444; }

.sidepanel {
    width: 40%;
    padding-left: 20px;
}

.card {
    background: #1e293b;
    padding: 15px;
    border-radius: 10px;
    margin-bottom: 15px;
}

.logs {
    max-height: 150px;
    overflow-y: auto;
}

canvas {
    margin: 20px;
}